:host ::ng-deep .logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #108ee9;
}

nz-layout {
  height: 100%;
}

.logo h1 a {
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  line-height: 31px;
  margin-left: 10px;
}

ul li {
  outline: none;
}
