<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'">
    <div class="logo">
      <h3>
        <a routerLink="/">Ocelot-Configurator</a>
      </h3>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-menu-item routerLink="/home">
        <span title>
          <i class="anticon anticon-home"></i>
          <span class="nav-text">Home</span>
        </span>
      </li>
      <li nz-menu-item routerLink="/configure">
        <span title>
          <i class="anticon anticon-bars"></i>
          <span class="nav-text">Configure</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;height:60px;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item *ngFor="let nav of breadcrumbs">{{nav}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:20px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">JustWei ©2018</nz-footer>
  </nz-layout>
</nz-layout>
