
<nz-row nzGutter="8" nzType="flex" nzAlign="middle">
  <div nz-col nzSpan="4" *ngFor="let server of servers" style="margin-bottom:8px">
    <nz-card [nzTitle]="server.Alias" [nzExtra]="extraTemplate">
      <p>
        <span>Url:</span>
        <span>{{server.Scheme + '://' + server.Host + (server.Port!=80?(':'+server.Port):'')}}</span>
      </p>
      <p>
        <span>GrantTypes:</span>
        <span>{{server.GrantType}}</span>
      </p>
      <p>
        <span>Path:</span>
        <span>{{server.AdministrationApiPath}}</span>
      </p>
      <ng-template #extraTemplate>
        <a (click)="onEntryServer(server)" title="Entry">
          <i class="anticon anticon-login"></i>
        </a>

        <nz-popconfirm [nzTitle]="'您确定要删除这个服务器吗？'" (nzOnConfirm)="onRemoveServer(server)" >
          <a nz-popconfirm title="Delete">
            <i class="anticon anticon-delete"></i>
          </a>
        </nz-popconfirm>

      </ng-template>

    </nz-card>
  </div>
  <div nz-col nzSpan="4">
    <nz-card style="background: rgb(190, 200, 200);text-align:center;font-size:25px">
      <button nz-button nzType="dashed" nzShape="circle" nzGhost
              style="width:80px;height:80px"
              (click)="onAddServer()" title="添加服务器">
        <i class="anticon anticon-plus-circle-o"></i>
      </button>
    </nz-card>
  </div>

</nz-row>

<nz-modal [(nzVisible)]="addModalVisible"
          nzTitle="添加服务器"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <form nz-form [nzLayout]="formLayout" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal? 4:null">Alias</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal? 14:null">
        <input nz-input formControlName="Alias" placeholder="请为服务器取个别名">
        <nz-form-explain *ngIf="validateForm.get('Alias').dirty && validateForm.get('Alias').errors">Please input Alias!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal? 4:null">Grant Type</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal? 18:null">
        <nz-radio-group formControlName="GrantType">
          <label nz-radio-button [nzValue]="'client_credentials'">client_credentials</label>
          <label nz-radio-button [nzValue]="'authorization_code'">authorization_code</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal? 4:null">Scheme</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal? 20:null">
        <nz-radio-group formControlName="Scheme">
          <label nz-radio-button [nzValue]="'http'">http</label>
          <label nz-radio-button [nzValue]="'https'">https</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal? 4:null">Host</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal? 14:null">
        <input nz-input formControlName="Host" placeholder="服务器的域名或IP">
        <nz-form-explain *ngIf="validateForm.get('Host').dirty && validateForm.get('Host').errors">Please input Host!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal? 4:null">Port</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal? 4:null">
        <input nz-input formControlName="Port" placeholder="端口">
        <nz-form-explain *ngIf="validateForm.get('Port').dirty && validateForm.get('Port').errors">Please input Port!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal? 4:null">Admin*Path</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal? 14:null">
        <input nz-input formControlName="AdministrationApiPath" placeholder="管理路径">
        <nz-form-explain *ngIf="validateForm.get('AdministrationApiPath').dirty && validateForm.get('AdministrationApiPath').errors">Please input Administration Path!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading" [disabled]="!validateForm.valid">确定</button>
  </ng-template>
</nz-modal>
